.front{
    background-color: yellow;
}
.first{
    border: 4px solid rgb(68, 2, 68);
    color: red;
}
.second{
    background-color: blue;
}
.third{
    background-color: darkgreen;
}
.fiveth{
    background-color: darkgreen;
}
.fourth{
    color: red;
}
.second-link{
    background-color: yellow;
}