%primary-button{
    width:170px ;
    height: 48px;
    color:white ;
    border-radius:6px ;
    border:none ;
    background-color:rgb(240, 109, 89) ;
}
%second-button{
    width:170px ;
    height: 48px;
    color:white ;
    border-radius:6px ;
    border:none ;
    background-color:rgb(240, 109, 89) ;
}